// Fonts:
@font-face {
  font-family: 'Inter';
  src: url('../assets/font/Inter/Inter-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/font/Inter/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/font/Inter/Inter-Bold.ttf');
  font-weight: 700;
}

// Your variable overrides
$font-family-sans-serif: 'Work Sans', sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$primary: #D0FF26;
$secondary: #e519c8;
$light: #e5e5e5;
$dark: #111111;
$body-bg: $dark;
$body-color: $light;

$navbar-nav-link-padding-x: 1.5rem;
$navbar-dark-color: rgba($light, .75);
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $primary;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$primary}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color: $primary;

$carousel-indicator-width: 0.75rem;
$carousel-indicator-height: 0.75rem;
$carousel-indicator-hit-area-height: 0.75rem;
$carousel-indicator-active-bg: $primary;
$carousel-indicator-active-opacity: 1;
$carousel-indicator-transition: opacity .6s ease;

$card-border-radius: 1rem;
$card-border-width: 0;
$card-inner-border-radius: 1rem;

$modal-content-bg: $dark;
$modal-backdrop-opacity: .85;
$modal-header-border-width: 0;

$btn-close-color: $primary;
$btn-close-opacity: 1;
$btn-close-hover-opacity: .5;
$btn-close-focus-opacity: .5;

$accordion-border-color: $primary;
$accordion-border-radius: 1rem;
$accordion-button-active-bg: $primary;
$accordion-button-active-color: $dark;

$list-group-bg: transparent;
$list-group-hover-bg: $light;
$list-group-border-color: rgba($primary, .125);
$list-group-color: $primary;
$list-group-action-hover-color: $dark;
$list-group-item-padding-y: 1rem;
$list-group-item-padding-x: 2.5rem;

  // Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body { counter-reset: item; }

.navbar-collapse ul li a::before {
  counter-increment: item;
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: $primary;
  font-size: 16px;
  text-align: right;
}

.nav-link:last-child { padding-right: 0 !important; }

#hero-section {
  video {
    z-index:1;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.hero-content { z-index: 2; }

.carousel-indicators { bottom: -4rem; }

.carousel-indicators li { border-radius: 100%; }

.card {
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;

  &:hover {
    h3, p { color: $primary; }

    img {
      -webkit-filter: blur(0rem);
      animation-name: imgBlur;
      animation-duration: 0.5s;
    }
  }

  img {
    animation-name: imgBlurReverse;
    animation-duration: 0.5s;
    -webkit-filter: blur(1rem);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.18) 5%, rgb(0, 0, 0) 80%), url(https://grainy-gradients.vercel.app/noise.svg);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.18) 5%, rgb(0, 0, 0) 80%), url(https://grainy-gradients.vercel.app/noise.svg);
  }
}

@-webkit-keyframes imgBlur {
  from { filter: blur(1rem); }
  to { filter: blur(0rem); }
}

@-webkit-keyframes imgBlurReverse {
  from { filter: blur(0rem); }
  to { filter: blur(1rem); }
}

.modal-dialog {
  width: auto;

  img {
    max-width: 100%;
    height: auto;
  }

  video {
    aspect-ratio: 16 / 9;
    max-width: 100%;
  }
}

#collapseThree .list-group a:last-child { border-radius: 0 0 1rem 1rem; }

a:link { text-decoration: none; }

@media (max-width: 767.98px) {
  #hero-section {
    video { opacity: 0.5; }
  }
}