// Fonts:
@font-face {
  font-family: 'Inter';
  src: url('../assets/font/Inter/Inter-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/font/Inter/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/font/Inter/Inter-Bold.ttf');
  font-weight: 700;
}

// Your variable overrides
$font-family-sans-serif: 'Work Sans', sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$primary: #D0FF26;
$secondary: #e519c8;
$light: #e6f1ff;
$dark: #111111;
$body-bg: $dark;
$body-color: $light;

$navbar-nav-link-padding-x: 1.5rem;
$navbar-dark-color: rgba($light, .75);
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $primary;

$carousel-indicator-width: 0.75rem;
$carousel-indicator-height: 0.75rem;
$carousel-indicator-hit-area-height: 0.75rem;
$carousel-indicator-active-bg: $primary;
$carousel-indicator-active-opacity: 1;
$carousel-indicator-transition: opacity .6s ease;

$card-border-radius: 1rem;
$card-border-width: 0;
$card-inner-border-radius: 1rem;

$modal-content-bg: $dark;
$modal-backdrop-opacity: .85;
$modal-header-border-width: 0;

$btn-close-color: $primary;
$btn-close-opacity: 1;
$btn-close-hover-opacity: .5;
$btn-close-focus-opacity: .5;

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body { counter-reset: item; }

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.navbar-collapse ul li a::before {
  counter-increment: item;
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: $primary;
  font-size: 16px;
  text-align: right;
}

.nav-link:last-child { padding-right: 0 !important; }

.carousel-indicators { bottom: -4rem; }

.carousel-indicators li { border-radius: 100%; }

.card {
  cursor: pointer;
  transition: 0.5s;

  :hover {
    bottom: 20px;
    color: $primary;
  }

  img {
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.18) 0%, rgb(0, 0, 0) 45%);
    --webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.18) 0%, rgb(0, 0, 0) 45%);

    :hover {
      filter: grayscale(1); /* IE6-9 */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    }
  }
}